body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.heading {
    text-align: center;
}

#container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    padding: 8px;
}

.card {
    width: calc(25% - 22px);
    box-shadow: 0 2px 5px #ccc;
    border: 1px solid #ccc;
    border-radius: 15px;
    margin: 10px;
}

.img-grid {
    width: 100%;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.text {
    text-align: center;
    margin: 0 8px 8px 8px;
}


}
@media (max-width:990px) {
    .card {
        width: calc(33% - 22px);
    }
}
@media (max-width:768px) {
    .card {
        width: calc(50% - 22px);
    }
}
@media (max-width:400px) {
    .card {
        width: calc(100% - 22px);
    }
}