body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #54c3ef;
    font-family: 'Roboto', sans-serif;
    position: relative;
}

h1 {
    font-size: 3rem;
    text-align: center;
    color: #fad744;
    font-family: 'Caveat Brush', cursive;
}

#container {
    margin: 0 auto;
    width: 50%;
    display: flex;
    flex-direction: column;
    background-color: #2b3252;
    padding: 15px;
    border-radius: 15px;
    color: #fad744;
    position: relative;
}

.card {
    padding-bottom: 10px;
    border-bottom: 1px solid #fad744;
}

.radiobtn {
    display: block;
    margin-bottom: 10px;
}

#submitbtn {
    border-radius: 15px;
    background-color: #fad744;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    outline: 0;
    border: 0;
    cursor: pointer;
}

.btnwrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 30px;
}

.inputWrapper {
    display: flex;
    margin-bottom: 10px;
}