body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}

#container {
    margin: 0 auto;
}

.section-heading {
    margin-top: 100px;
    margin-left: 70px;
    padding: 0 4%;
    color: rgb(27, 25, 25);
}

#card-wrapper {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    padding: 0 4%;
}

.card {
    width: 15%;
    min-width: 200px;
    height: auto;
    margin: 30px 10px;
    cursor: pointer;
    background-color: #fff;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
}

.card a {
    text-decoration: none;
    color: #fff;
}

.card:hover {
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.7);
}

.img {
    width: 100%;
}

.card .details {
    padding-left: 10px;
    margin: 10px auto;
}

.name {
    text-align: left;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0.5px;
    color: rgb(27, 25, 25);
}

.brand {
    margin-top: 10px;
    text-align: left;
    font-size: 12px;
    color: rgb(110, 110, 110);
}

.price {
    margin-top: 10px;
    text-align: left;
    font-size: 15px;
    letter-spacing: 2px;
    color: #009688;
}